.main-content {
  display: flex;
  min-height: 100vh;
}



/* Sidebar Overlay for mobile */
.sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

@media (max-width: 768px) {
  .sidebar-overlay.active {
    display: block;
  }
}